/* Standard Format */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

h1, h2 {
    color: #a372ff;
}

.navbar {
    background-color: #D8BFD8;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 8px 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar ul li a:hover, .navbar ul li a.active {
    background-color: #BA55D3;
    color: #fff;
    border-radius: 4px;
}

.main-content {
    padding: 80px 20px;
    text-align: center;
    min-height: 100vh;
}

.section {
    padding: 80px 20px;
    margin: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #6A5ACD;
}

.section p {
    font-size: 1.2rem;
    color: #555;
}

html {
    scroll-behavior: smooth;
}

.fade-in {
    opacity: 0;
    transition: opacity 2s;
}

.fade-in.visible {
    opacity: 1;
}

/* Dark Mode */

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

.navbar {
    background-color: #D8BFD8; 
    color: #333;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar ul li a {
    color: #333; 
}

.navbar ul li a:hover, .navbar ul li a.active {
    background-color: #BA55D3;
    color: #fff;
}


body.dark-theme {
    background-color: #222; 
    color: white;
}

body.dark-theme .navbar {
    background-color: #111; 
    color: white;
    box-shadow: none;
}

body.dark-theme .navbar ul li a {
    color: #fff;
}

body.dark-theme .navbar ul li a:hover, .navbar ul li a.active {
    background-color: #9966CC;
    color: #fff;
}