body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #fff;
    color: #333;
}

h1, h2 {
    color: #a372ff;
}

.navbar {
    background-color: #D8BFD8;
    padding: 10px 0;
    text-align: center;
    position: sticky;
    top: 0;
    z-index: 1000;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.navbar ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: inline-block;
}

.navbar ul li {
    display: inline;
    margin-right: 20px;
}

.navbar ul li:last-child {
    margin-right: 0;
}

.navbar ul li a {
    text-decoration: none;
    color: #333;
    font-size: 18px;
    padding: 8px 16px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.navbar ul li a:hover, .navbar ul li a.active {
    background-color: #9966CC;
    color: #fff;
    border-radius: 4px;
}

.main-content {
    padding: 80px 20px;
    text-align: center;
    min-height: 100vh;
}

.project-box {
    width: 80%;
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f9f9f9;
    border: 2px solid #6A5ACD;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.project-box img {
    max-width: 100%;
    border-radius: 4px;
}

.project-box h3 {
    font-size: 24px;
    color: #6A5ACD;
    margin-bottom: 15px;
}

.project-box p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 20px;
}

.project-box a {
    display: inline-block;
    text-decoration: none;
    color: #fff;
    background-color: #6A5ACD;
    padding: 10px 20px;
    border-radius: 4px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.project-box a:hover {
    background-color: #5B4EAB;
}

.section {
    padding: 80px 20px;
    margin: 50px 0;
    background-color: #f9f9f9;
    text-align: center;
}

.section h2 {
    font-size: 2.5rem;
    margin-bottom: 20px;
    color: #6A5ACD;
}

.section p {
    font-size: 1.2rem;
    color: #555;
}

html {
    scroll-behavior: smooth;
}

.fade-in {
    opacity: 0;
    transition: opacity 2s;
}

.fade-in.visible {
    opacity: 1;
}

body.dark-theme {
    background-color: #222;
    color: white;
}

body.dark-theme .navbar {
    background-color: #111;
    color: white;
    box-shadow: none;
}

body.dark-theme .navbar ul li a {
    color: #fff;
}

body.dark-theme .navbar ul li a:hover, .navbar ul li a.active {
    background-color: #9966CC;
    color: #fff;
}

.back-button {
    position: absolute;
    top: 60px;
    left: 20px;
    background-color: #9966CC;
    color: #fff;
    text-decoration: none;
    font-size: 16px;
    padding: 8px 12px;
    border-radius: 4px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease, box-shadow 0.3s ease;
}

.back-button:hover {
    background-color: #9966CC;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}